<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        <i class="fa fa-bitbucket"></i> <a href="https://bitbucket.org/sdeng/">sdeng</a>
        <br />
        <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/thoughthammer">/in/thoughthammer</a>
        <br />
        <i class="fa fa-twitter"></i> <a href="https://twitter.com/SamDeng">SamDeng</a>
        <br />
        <i class="fa fa-envelope"></i> <a href="mailto:samdeng@gmail.com">SamDeng@gmail.com</a>
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
